---
http_interactions:
- request:
    method: get
    uri: https://api.envato.com/v3/market/user/bookmarks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 7d081f26-8e81-439b-85d8-f2d774071303
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - Z2-p4HhDIAMFWLw=
      X-Amzn-Remapped-Server:
      - nginx
      Etag:
      - W/"e2f6cca18db456fdf6aa1202b5f9ae90"
      X-Amzn-Remapped-Date:
      - Tue, 11 Oct 2022 21:21:03 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"bookmarks":[{"id":51165728,"item_id":20067217,"collection_id":6917126},{"id":55189448,"item_id":20262330,"collection_id":7201994},{"id":68229162,"item_id":2871437,"collection_id":4753344},{"id":68229159,"item_id":3114354,"collection_id":4753344},{"id":73242703,"item_id":3525764,"collection_id":4753344},{"id":36080084,"item_id":11890210,"collection_id":4753344},{"id":36080108,"item_id":15190981,"collection_id":4753344},{"id":36080030,"item_id":15380226,"collection_id":4753344},{"id":51165721,"item_id":20067217,"collection_id":4753344},{"id":68229101,"item_i[...]
