---
http_interactions:
- request:
    method: get
    uri: https://api.envato.com/v3/market/buyer/purchases
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 726625b4-4daa-4d71-b826-9fb0bef474dd
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - Z2r33GT7oAMFovQ=
      X-Amzn-Remapped-Server:
      - nginx
      Etag:
      - W/"095318e8321211fb79df156ff7353fd6"
      X-Amzn-Remapped-Date:
      - Tue, 11 Oct 2022 19:12:50 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"buyer":{"id":1234567,"username":"collis"},"author":{"id":1234567,"username":"collis"},"purchases":[]}'
  recorded_at: Tue, 11 Oct 2022 19:12:50 GMT
recorded_with: VCR 6.1.0
