---
http_interactions:
- request:
    method: get
    uri: https://api.envato.com/v1/market/new-files:graphicriver,graphics.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - dc99f337-a7cf-4259-bc05-08aced4c16c9
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - Z3FvlH6RIAMFqYA=
      X-Amzn-Remapped-Server:
      - nginx
      Etag:
      - W/"629a35937687e4642700888127417a11"
      X-Amzn-Remapped-Date:
      - Tue, 11 Oct 2022 22:09:26 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"new-files":[{"id":"40026352","item":"Magazine / Catalog Brochure
        Mockup Vol2","url":"https://graphicriver.net/item/magazine-catalog-brochure-mockup-vol2/40026352","user":"Pixel_corner","thumbnail":"https://s3.envato.com/files/408782896/Thumbnail.jpg","sales":"0","rating":"0.0","rating_decimal":"0.00","cost":"9.00"},{"id":"40037731","item":"3D
        Senior Man Sitting Comfortably with Arms Crossed","url":"https://graphicriver.net/item/3d-senior-man-sitting-comfortably-with-arms-crossed/40037731","user":"3dmask","thumbnail":"https://s3.envato.com/files/408862781/thumbnail.jpg","sales":"0","rating":"0.0","rating_decimal":"0.00","cost":"5.00"},{"id":"40037726","item":"3D
        Senior Man Flexing Arm Muscles","url":"https://graphicriver.net/item/3d-senior-man-flexing-arm-muscles/40037726","user":"3d[...]
