---
http_interactions:
- request:
    method: get
    uri: https://api.envato.com/v1/market/user-badges:collis.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 66d330e3-9939-462f-8b63-0f8c296d8dc6
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - Z4gLiE-xIAMFnSA=
      X-Amzn-Remapped-Server:
      - nginx
      Etag:
      - W/"b7f4a7c44ebe50c31ffc313a2fbea06c"
      X-Amzn-Remapped-Date:
      - Wed, 12 Oct 2022 08:26:49 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"user-badges":[{"name":"veteran_level_16","label":"16 Years of Membership","image":"https://public-assets.envato-static.com/assets/badges/veteran_level_16-5e18472a196cb77a5c8593f671151cf556e2dddd1364f1f48065246be5c970f5.svg"},{"name":"affiliate_level_2","label":"Affiliate
        Level 2","image":"https://public-assets.envato-static.com/assets/badges/affiliate_level_2-75a92b0c30ab087303a378e5a1a7ccdc31c0db7936c6f0968b130e3547b94a58.svg"},{"name":"country_au","label":"Australia","image":"https://public-assets.envato-static.com/assets/badges/country_au-49291d873cff018fe6e0b2c6ed[...]
