---
http_interactions:
- request:
    method: get
    uri: https://api.envato.com/v1/market/private/user/account.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - b7d4263a-d695-4e45-9743-9dc048fa7d28
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - Z2clgE_EoAMF8vw=
      X-Amzn-Remapped-Server:
      - nginx
      Etag:
      - W/"df34519a015b73f3994fbd8c73a47741"
      X-Amzn-Remapped-Date:
      - Tue, 11 Oct 2022 17:28:28 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"account":{"image":"https://s3.envato.com/files/1234567/avatar.png","firstname":"Ilya","surname":"Brin","available_earnings":"0.00","total_deposits":"0.00","balance":"0.00","country":"United
        States"}}'
  recorded_at: Tue, 11 Oct 2022 17:28:28 GMT
recorded_with: VCR 6.1.0
