---
http_interactions:
- request:
    method: get
    uri: https://api.envato.com/v3/market/user/collections
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 50d5382b-a988-4fa9-8e3c-ad8101d1635e
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - Z2fGMG-XIAMFh4g=
      X-Amzn-Remapped-Server:
      - nginx
      Etag:
      - W/"1031e39c79cdd57560223d3dbf0c5ad2"
      X-Amzn-Remapped-Date:
      - Tue, 11 Oct 2022 17:45:37 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"collections":[{"id":6917126,"name":"AMP Pages","description":null,"private":true,"item_count":1,"special_role":null,"image":"default-collection.png"},{"id":7201994,"name":"Dashboards","description":"","private":true,"item_count":1,"special_role":null,"image":"default-collection.png"},{"id":4753344,"name":"My
        Favorites.","description":"Items you marked as your favorites.","private":true,"item_count":25,"special_role":"favorite","image":"default-collection.png"},{"id":706951,"name":"My
        Private Bookmarks","description":null,"private":true,"item_count":7,"special_role":null,"image":"default-collection.png"},{"id":7201768,"name":"Shopify
        Front","description":null,"private":true,"item_count":1,"special_role":null,"image":"default-collection.png"}]}'
  recorded_at: Tue, 11 Oct 2022 17:45:37 GMT
recorded_with: VCR 6.1.0
