---
http_interactions:
- request:
    method: get
    uri: https://api.envato.com/v3/market/user/statement
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - cb173e81-1a53-4c7b-93b2-5bb037dd10a9
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - Z4e0EH9GoAMFq3Q=
      X-Amzn-Remapped-Server:
      - nginx
      Etag:
      - W/"2ab1c8570aa252949526589a4f59788c"
      X-Amzn-Remapped-Date:
      - Wed, 12 Oct 2022 08:17:30 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"count":12,"results":[{"unique_id":"847f684661dde47ad7a18bfba6597779","date":"2020-07-06
        03:30:17 +1000","order_id":129281000,"type":"Purchase","detail":"Appgen -
        App, Saas \u0026 Software Landing Page Template (6 months extended support)","item_id":27152521,"document":"IVIP38802533","price":3.0,"au_gst":null,"eu_vat":null,"us_rwt":null,"us_bwt":null,"amount":-3.0,"site":"themeforest.net","other_party_country":null,"other_party_region":null,"other_party_city":null,"other_party_zipcode":null},{"unique_id":"9c44975e887d0ebeb96fb8dee40cc528","date":"2020-07-06
        03:30:17 +1000","order_id":129281000,"type":"Purchase","detail":"Appgen -
        App, Saas \u0026 Software Landing Page Template (6 months included support)","item_id":27152521,"document":"IVIP38802533","price":3.0,"au_gst":null,"eu_vat":null,"us_rwt":null,"us_bwt":null,"amount":-3.0,"site":"themeforest.net","other_party_country":null,"other_party_region":null,"other_party_city":null,"other_party_zipcode":null},{"u[...]
